 <body>
    <div class="container">
      <h1>My First Bootstrap Page</h1>
      <p>This is some text.</p>
      <p>lùi vào một ô của container</p>
    </div>
    <div class="container-fluid">
      <h1>My First Bootstrap Page</h1>
      <p>This is some text.</p>
      <p>tràn ô và đầu dòng</p>
    </div>
    <div class="container p-5 my-5 border">
      Ô đầu với padding =3rem và margin căn trục dọc gồm top và bottom, viền
      được bôi đen
    </div>

    <div class="container p-5 my-5 bg-dark text-white">
      giống ô trên nhưng chữ trắng nền đen
    </div>

    <div class="container p-5 my-5 bg-primary text-white">
      giống ô đầu nhưng chữ trắng nền xanh
    </div>
    <div class="mx-auto p-2 text-primary" style="width: 300px">
      Nguyễn Quốc Anh - 2121050112
    </div>
 </body>